%% -*- mode: erlang -*-

{sub_dirs,
 [
  "apps/vocabio"
 ]}.

{deps,
 [
  {openid, ".*",
   {git, "https://github.com/jbothma/erl_openid.git", "abb74801910d"}}
  ,{ux, ".*",
    {git, "https://github.com/jbothma/ux.git", {tag, "v3.4.1"}}}
  ,{lager, ".*",
    {git, "git://github.com/basho/lager.git", {tag, "1.2.1"}}}
  ,{cowboy, ".*",
    {git, "git://github.com/extend/cowboy.git", {tag, "0.6.1"}}}
  ,{erlydtl, ".*",
    {git, "git://github.com/evanmiller/erlydtl.git", "6d1fcaf7edcfb"}}
  ,{riakc, ".*",
    {git, "git://github.com/basho/riak-erlang-client.git", {tag, "1.3.1"}}}
  ,{poolboy, ".*",
    {git, "git://github.com/devinus/poolboy.git", "6ddc61ae6a"}}
  ,{cowboy_session, ".*",
    {git, "git://github.com/spawngrid/cowboy_session.git", "d6de421521"}}
  ,{jsx, ".*",
    {git, "git://github.com/talentdeficit/jsx.git", {tag, "v1.3.3"}}}
 ]}.

{erl_opts, [{parse_transform, lager_transform}]}.
